.products-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    gap: 1%;
}
.product-card {
    cursor: pointer;
    max-width: 24%;
    margin-bottom: 0.75rem;
    font-size: larger;
    background: #e8e8e8;
    padding-bottom: 1rem;
    img {
        max-width: 100%;
    }
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .product-details {
        text-align: center;
    }
    .price-details{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
    .price-details div:first-child{
        text-decoration: line-through;
    }
}

@media screen and (max-width:620px) {
    .product-card {
        max-width: 32%;
    }
}
@media screen and (max-width:375px) {
    .product-card {
        max-width: 100%;
    }
}
